

@font-face {
    font-family: 'font-personal';
    src: url('./font/font-personal.eot?32122637');
    src: url('./font/font-personal.eot?32122637#iefix') format('embedded-opentype'), url('./font/font-personal.woff?32122637') format('woff'), url('./font/font-personal.ttf?32122637') format('truetype'), url('./font/font-personal.svg?32122637#font-personal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.demo-icon {
    font-family: "font-personal";

    width: 30px;
    opacity: .99;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
}
