
.deseicon-:before { content: '\e800'; } /* '' */
.esceicon-:before { content: '\e801'; } /* '' */
.modicon-:before { content: '\e802'; } /* '' */
.toolicon-:before { content: '\e803'; } /* '' */
.vape01icon-:before { content: '\e804'; } /* '' */
