
@{
    ViewBag.Title = "DetalleProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="DetalleCompleto">
    
</div>




 <script src="~/JS/DetalleProducto.js?v=26"></script> 
