









<div class="modal fade bs-example-modal-sm" id="ModalEdad" tabindex="-1" role="dialog" aria-hidden="true" style=" background: #000000;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="modal-dialog modal-sm" style="width: 30%;">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/Imagen/LogoEmpresa.jpg" style="width: 30%; margin-left: 35%;" />
                <br />
                <br />
                <br />
                <br />
                <p style="text-align: center; color:black; font-size: 30px; font-weight: 900;">Debes ser mayor de 18 años para visitar este sitio...</p>
                <br />
                <p style="text-align: center;">Eres mayor de Edad?</p>
                <br />
                <br />
                <div style="margin-left: 42%; ">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color:black; border-color:black;" id="EdaddSi">SI</button>
                    <a href="https://la.nickjr.tv/" class="btn btn-secondary">NO</a>
                
                </div>


            </div>


        </div>
    </div>
</div>


<div class="wrapper">
    <!-- Start Header Style -->
    <header id="htc__header" class="htc__header__area header--one">
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
            <div class="container">
                <div class="row">
                    <div class="menumenu__container clearfix">

                    </div>
                </div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </header>


    <div class="col-md-12 col-sm-12">

        <div class="slider__container slider--one bg__cat--3">
            <div class="slide__container slider__activation__wrap owl-carousel">
                <!-- Start Single Slide -->
                <div class="single__slide animation__style01 slider__fixed--height">
                    <div class="container">
                        <div class="row align-items__center">
                            <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                                <div class="slide">
                                    <div class="slider__inner">
                                        <h2>collection 2018</h2>
                                        <h1>1</h1>
                                        <div class="cr__btn">
                                            <a href="cart.html">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                                <div class="slide__thumb">
                                    <img src="~/Plantilla/Catalogo/images/slider/fornt-img/1.png" alt="slider images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="single__slide animation__style01 slider__fixed--height">
                    <div class="container">
                        <div class="row align-items__center">
                            <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                                <div class="slide">
                                    <div class="slider__inner">
                                        <h2>collection 2018</h2>
                                        <h1>2</h1>
                                        <div class="cr__btn">
                                            <a href="cart.html">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                                <div class="slide__thumb">
                                    <img src="~/Plantilla/Catalogo/images/slider/fornt-img/2.png" alt="slider images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
            </div>
        </div>

    </div>
    <!-- Start Slider Area -->
    <!-- Start Slider Area -->

</div>


<script src="~/JS/Index.js?v=4"></script>


